node_modules/
uploads/
!uploads/.gitkeep
__generated__/

*.sqlite

.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

.DS_Store

/.pnp
.pnp.js

build/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
